DATABASE_URL=your-database-url-here

HF_TOKEN=your-huggingface-token-here

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your-langsmith-api-key-here
LANGSMITH_PROJECT="your-langsmith-project-name-here"    

CHROMA_DB_PATH=./chroma_db
CHROMA_COLLECTION_NAME=your-chroma-collection-name-here

NOTION_TOKEN=your-notion-token-here

JWT_SECRET_KEY=your-jwt-secret-key-here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

CRON_SECRET_KEY=your-cron-secret-key-here

GOOGLE_API_KEY=your-google-api-key-here
GEMINI_MODEL=google:gemini-3.1-flash-lite
MCP_SERVER_URL=http://localhost:8001/mcp

Rivyo_Docs=Bearer <your-rivyo-jwt-token>

Editly_Order_Editing_App_Docs=Bearer <your-editly-jwt-token>

Wishlist_Club_App_Docs=Bearer <your-wishlist-jwt-token>

Utterbond_Subscription_Docs=Bearer <your-utterbond-jwt-token>

Rebolt_Bundle_Docs=Bearer <your-rebolt-jwt-token>

Addup_Checkout_Docs=Bearer <your-addup-jwt-token>

Quickhunt_Docs=Bearer <your-quickhunt-jwt-token>
